In [54]:
import pandas as pd

In [55]:
df1 = pd.read_csv("Student_dataset_1.csv")
df2 = pd.read_csv("Student_dataset_2.csv")
df3 = pd.read_csv("Student_dataset_3.csv")

In [56]:
df1 = df1.drop(34)

In [57]:
df4 = pd.concat([df1, df2, df3], ignore_index=True)

In [58]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   123 non-null    object
 1   track_name    123 non-null    object
 2   release_date  123 non-null    int64
 3   genre         123 non-null    object
 4   lyrics        123 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.9+ KB

In [59]:
df4.isnull().sum()

artist_name     0
track_name      0
release_date    0
genre           0
lyrics          0
dtype: int64

In [60]:
df4.to_csv("Student_dataset.csv", index=False)

In [61]:
df5 = pd.read_csv("../data/mendeley-music-dataset.csv")

In [62]:
df5.shape

(28372, 31)

In [63]:
df5 = df5[["artist_name", "track_name", "release_date", "genre", "lyrics"]]
df6 = pd.concat([df5, df4], ignore_index=True)

In [64]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28495 entries, 0 to 28494
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   28495 non-null  object
 1   track_name    28495 non-null  object
 2   release_date  28495 non-null  int64
 3   genre         28495 non-null  object
 4   lyrics        28495 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [65]:
df6.isnull().sum()

artist_name     0
track_name      0
release_date    0
genre           0
lyrics          0
dtype: int64

In [66]:
df6.to_csv("Merged_dataset.csv", index=False)

In [30]:
df6.genre.value_counts()

pop        7042
country    5445
blues      4604
rock       4034
jazz       3845
reggae     2498
hip hop     904
soul        118
Name: genre, dtype: int64

In [38]:
df6.loc[df6.genre=="soul"]

,artist_name,track_name,release_date,genre,lyrics
28372,Frank Ocean,Pink + White,2016,soul,"Yeah, yeah, um (Woo)\nYeah, yeah, yeah\n\n[Ver..."
28373,Marvin Gaye,Ain't No Mountain High Enough,1967,soul,"Listen, baby\nAin't no mountain high\nAin't no..."
28374,Frank Ocean,Novacane,2011,soul,I think I started something\nI got what I want...
28375,Frank Ocean,Lost,2012,soul,"Double D, big full breasts on my baby\n(Yo, we..."
28376,Frank Ocean,Thinkin Bout You,2012,soul,A tornado flew around my room before you came\...
...,...,...,...,...,...
28485,Adele,I Drink Wine,2021,soul,How can one become so bounded by choices that ...
28486,Frank Ocean,Moon River,2018,soul,"One, two\n\n[Chorus]\nMoon river, wider than a..."
28487,Snoh Aalegra,I Want You Around,2019,soul,"It's not that I don't want you here (Yeah, yea..."
28488,Nina Simone,Feeling Good,1965,soul,"Birds flying high, you know how I feel\nSun in..."
28489,Michael Jackson,Heaven Can Wait,2001,soul,"Tell the angels, ""No, I don't wanna leave my b..."

In [16]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.ml import Transformer

In [2]:
df = pd.read_csv("../data/mendeley-music-dataset.csv")

In [3]:
df.shape

(28372, 31)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28372 entries, 0 to 28371
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                28372 non-null  int64
 1   artist_name               28372 non-null  object
 2   track_name                28372 non-null  object
 3   release_date              28372 non-null  int64
 4   genre                     28372 non-null  object
 5   lyrics                    28372 non-null  object
 6   len                       28372 non-null  int64
 7   dating                    28372 non-null  float64
 8   violence                  28372 non-null  float64
 9   world/life                28372 non-null  float64
 10  night/time                28372 non-null  float64
 11  shake the audience        28372 non-null  float64
 12  family/gospel             28372 non-null  float64
 13  romantic                  28372 non-null  float64
 14  communication             28372 non-null  float64
 15  obscene                   28372 non-null  float64
 16  music                     28372 non-null  float64
 17  movement/places           28372 non-null  float64
 18  light/visual perceptions  28372 non-null  float64
 19  family/spiritual          28372 non-null  float64
 20  like/girls                28372 non-null  float64
 21  sadness                   28372 non-null  float64
 22  feelings                  28372 non-null  float64
 23  danceability              28372 non-null  float64
 24  loudness                  28372 non-null  float64
 25  acousticness              28372 non-null  float64
 26  instrumentalness          28372 non-null  float64
 27  valence                   28372 non-null  float64
 28  energy                    28372 non-null  float64
 29  topic                     28372 non-null  object
 30  age                       28372 non-null  float64
dtypes: float64(23), int64(3), object(5)
memory usage: 6.7+ MB

In [5]:
df.isnull().sum()

Unnamed: 0                  0
artist_name                 0
track_name                  0
release_date                0
genre                       0
lyrics                      0
len                         0
dating                      0
violence                    0
world/life                  0
night/time                  0
shake the audience          0
family/gospel               0
romantic                    0
communication               0
obscene                     0
music                       0
movement/places             0
light/visual perceptions    0
family/spiritual            0
like/girls                  0
sadness                     0
feelings                    0
danceability                0
loudness                    0
acousticness                0
instrumentalness            0
valence                     0
energy                      0
topic                       0
age                         0
dtype: int64

In [6]:
df["genre"].value_counts()

pop        7042
country    5445
blues      4604
rock       4034
jazz       3845
reggae     2498
hip hop     904
Name: genre, dtype: int64

In [8]:
spark = SparkSession.builder.appName("Lyrics-Classifier").getOrCreate()

In [9]:
spark

In [12]:
mendeley_dataset = spark.read.csv("../data/mendeley-music-dataset.csv", header=True, inferSchema=True)
mendeley_dataset.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- track_name: string (nullable = true)
 |-- release_date: integer (nullable = true)
 |-- genre: string (nullable = true)
 |-- lyrics: string (nullable = true)
 |-- len: integer (nullable = true)
 |-- dating: double (nullable = true)
 |-- violence: double (nullable = true)
 |-- world/life: double (nullable = true)
 |-- night/time: double (nullable = true)
 |-- shake the audience: double (nullable = true)
 |-- family/gospel: double (nullable = true)
 |-- romantic: double (nullable = true)
 |-- communication: double (nullable = true)
 |-- obscene: double (nullable = true)
 |-- music: double (nullable = true)
 |-- movement/places: double (nullable = true)
 |-- light/visual perceptions: double (nullable = true)
 |-- family/spiritual: double (nullable = true)
 |-- like/girls: double (nullable = true)
 |-- sadness: double (nullable = true)
 |-- feelings: double (nullable = true)
 |-- danceability: double (nullable = true)
 |-- loudness: double (nullable = true)
 |-- acousticness: double (nullable = true)
 |-- instrumentalness: double (nullable = true)
 |-- valence: double (nullable = true)
 |-- energy: double (nullable = true)
 |-- topic: string (nullable = true)
 |-- age: double (nullable = true)

In [15]:
df = mendeley_dataset.select("lyrics", "genre")
df.show()

+--------------------+-----+
|              lyrics|genre|
+--------------------+-----+
|hold time feel br...|  pop|
|believe drop rain...|  pop|
|sweetheart send l...|  pop|
|kiss lips want st...|  pop|
|till darling till...|  pop|
|convoy light dead...|  pop|
|piece mindin worl...|  pop|
|care moment hold ...|  pop|
|lonely night surr...|  pop|
|tear heart seat s...|  pop|
|better sail midni...|  pop|
|moon shin shin wa...|  pop|
|come motherfucker...|  pop|
|work morning flig...|  pop|
|see carioca foxtr...|  pop|
|hahaha alright ye...|  pop|
|blue sky smile bl...|  pop|
|light bright dark...|  pop|
|wander garden fen...|  pop|
|easier bitch leav...|  pop|
+--------------------+-----+
only showing top 20 rows

In [ ]:
class Cleanser(Transformer):
    def __init__():
        this.uid

In [18]:
spark.stop()