In [41]:
import pandas as pd

In [ ]:
path = "Merged_dataset.csv"

In [43]:
df = pd.read_csv(path)

In [44]:
df

,artist_name,track_name,release_date,genre,lyrics
0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...
1,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest ni...
2,johnnie ray,cry,1950,pop,sweetheart send letter goodbye secret feel bet...
3,pérez prado,patricia,1950,pop,kiss lips want stroll charm mambo chacha merin...
4,giorgos papadopoulos,apopse eida oneiro,1950,pop,till darling till matter know till dream live ...
...,...,...,...,...,...
28485,Adele,I Drink Wine,2021,soul,How can one become so bounded by choices that ...
28486,Frank Ocean,Moon River,2018,soul,"One, two\n\n[Chorus]\nMoon river, wider than a..."
28487,Snoh Aalegra,I Want You Around,2019,soul,"It's not that I don't want you here (Yeah, yea..."
28488,Nina Simone,Feeling Good,1965,soul,"Birds flying high, you know how I feel\nSun in..."
28489,Michael Jackson,Heaven Can Wait,2001,soul,"Tell the angels, ""No, I don't wanna leave my b..."

In [45]:
for col in ["artist_name", "track_name", "lyrics"]:
    df[col] = df[col].str.replace('\n', ' ')
    df[col] = df[col].str.replace('\t', ' ')
    df[col] = df[col].str.replace(',', ' ')
    df[col] = df[col].str.replace(r'\s+', ' ', regex=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28490 entries, 0 to 28489
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   28490 non-null  object
 1   track_name    28490 non-null  object
 2   release_date  28490 non-null  int64
 3   genre         28490 non-null  object
 4   lyrics        28490 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [47]:
df.to_csv("Merged_dataset.csv", index=False)